:root {
  --black: #17181b;
}
body:not([data-font*="inter"]) {
  /* Font setting of sans-serif with inter for minimal FOUC Used https://meowni.ca/font-style-matcher/ */
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.6;
  visibility: visible;
  letter-spacing: 0.45px;
  word-spacing: 0.3px;
}

body[data-font*="inter"] {
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 1;
  visibility: visible;
  letter-spacing: 0;
  word-spacing: 0;
}

html,
body {
  height: 100%;
}

#layout {
  height: 100%;
}

/* stylelint-disable-next-line selector-id-pattern */
#__nuxt {
  height: 100%;
}

.header.svelte-ro440k,
.modal-styling.svelte-lryths {
  border-radius: none !important;
}

.gr-b::before,
.gr-a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border-radius: inherit;
  transition: background-position 0.3s ease-in-out, opacity 0.2s ease-in-out;
}

.grb-b::before,
.grb-a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /* padding: var(--padding); make configurable before:p-1 */
  border-radius: inherit;
  width: 100%;

  transition: background-position 0.3s ease-in-out, opacity 0.2s ease-in-out;

  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);

  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
