/* common css */
:host {
  --dark-black:#fff;
  --white:rgba(23,24,27,1);
}

.sidebar {
  display: none;
}
.header.svelte-ro440k,
.modal-styling.svelte-lryths,
.modal.svelte-lryths {
  border-radius: 0.375rem !important;
}
.container.svelte-ro440k{
  height: auto !important;
  background: var(--dark-black) !important;
}


/* dark mode css */
.header.svelte-ro440k{
  background: var(--dark-black) !important;
  color: var(--white) !important;
}
.close-button.svelte-gtn9pc{
  background: transparent !important;
  color: var(--white) !important;
}