/* dark mode css */
:host {
  --onboard-wallet-button-border-color: #353945;
}
.header.svelte-ro440k,
.content.svelte-ro440k,
button.wallet-button-styling.svelte-11mmkf {
  background: var(--black) !important;
  color: var(--white) !important;
}
.close-button.svelte-gtn9pc {
  background: transparent !important;
  color: var(--gray) !important;
}
.close-button.svelte-gtn9pc:hover {
  color: var(--white) !important;
}

.connecting-container.svelte-ag34wy,
.onboard-button-primary {
  background-color: var(--black) !important;
  color: var(--white) !important;
}